<%-include("header")-%>
<div class="container">
    <form action="/" method="post">
        <div class="label">
            <label for="CityName">City  Name</label>
        </div>
        <input type="text" name="CityName" autocomplete="off">
        <button type="submit" center>GO</button>
    </form>
</div>
<%-include("footer") -%>